<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Barbería</title>

<style>
body{
    font-family: Arial;
    margin:0;
}

.menu{
    background:#111;
    padding:12px;
}

.menu a{
    color:white;
    margin-right:15px;
    text-decoration:none;
    font-weight:bold;
}

.contenido{
    padding:20px;
}
</style>

</head>

<body>

<div class="menu">
    <a href="/consultas">Consultas</a>
    <a href="/agenda">Agenda</a>
    <a href="/agenda_semana">Semana</a>
    <a href="/estadisticas">Estadísticas</a>
    <a href="/dashboard">Dashboard</a>
</div>

<div class="contenido">
    {% block content %}{% endblock %}
</div>

</body>
</html>