<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Consultas - Barbería</title>
</head>

<body>

<div style="background:#111;padding:10px;">
    <a href="/consultas" style="color:white;margin-right:15px;">Consultas</a>
    <a href="/agenda" style="color:white;margin-right:15px;">Agenda</a>
    <a href="/agenda_semana" style="color:white;margin-right:15px;">Semana</a>
    <a href="/estadisticas" style="color:white;margin-right:15px;">Estadísticas</a>
    <a href="/dashboard" style="color:white;">Dashboard</a>
</div>

<h1>Consultas recibidas</h1>

{% if consultas %}
{% for consulta in consultas %}

<p>{{ consulta[1] }} - {{ consulta[3] }}</p>

{% endfor %}
{% endif %}

</body>
</html>